[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Configuration util in python syntax for Hashicorp's Nomad
[access "refs/*"]
	owner = group user/Shahar Mintz (smintz)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shahar Mintz (smintz)
	label-Verified = -1..+1 group user/Shahar Mintz (smintz)
	push = group user/Shahar Mintz (smintz)
	read = group user/Shahar Mintz (smintz)
	rebase = group user/Shahar Mintz (smintz)
	removeReviewer = group user/Shahar Mintz (smintz)
	submit = group user/Shahar Mintz (smintz)
[access "refs/heads/*"]
	create = group user/Shahar Mintz (smintz)
	push = +force group user/Shahar Mintz (smintz)
	pushMerge = group user/Shahar Mintz (smintz)
	read = group user/Shahar Mintz (smintz)
[access "refs/tags/*"]
	push = group user/Shahar Mintz (smintz)
	push = +force group user/Shahar Mintz (smintz)
